/* Importando fontes do Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@300;400;500;600;700;800&display=swap');
/* Paleta de cores */
:root {
  --main-color: #D81159;
  --text-color: #ffffff;
  --bg-color-01: #1A181B;
  --bg-color-02: #323946;
  --color-00: #0000001a;

  /* Cores extras */
  --color01: #9dd9d2;
  --color02: #4E6E5D;
  --color03: #DDB967;
  --color04: #EF476F;
  --color05: #1B264F;
  --color06: #C72458;
}

* {
  margin: 0;
  padding: 0;
  /* o tamanho width e height passam a incluir o conteúdo, padding e borda. Ou seja, o tamanho do elemento será exatamente o valor que você definir, sem aumentar com o padding e bordas. */
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  /* Scroll behavior, movimento quando clica nos links da página ele 'corre' de forma suave */
  scroll-behavior: smooth;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

body {
  background-color: var(--bg-color-01);
  color: var(--text-color);
}

header {
  /* vai ficar fixada no topo */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* o tamanho que eu defini por padrão é 16px, com 1.1rem ele vai ter 1xtamanho+10% do tamanho padrão == 16px + 10% */
  padding: 1.1rem;
  background-color: var(--bg-color-01);
  display: flex;
  /* o display: flex transforma o header em um container flexível, que facilita o alinhamento e distribuicao dos itens dentro do header */
  justify-content: space-between;
  /* alinha os itens do header verticalmente no meio.  */
  align-items: center;
  /* define a ordem de sobreposição dos elementos na página. Quanto maior o número, mais "em cima" o elemento fica. */
  z-index: 100;
  /* border: solid 1px var(--color04); */
}

.logo {
  font-size: 1.7rem;
  color: var(--text-color);
  font-weight: 600;
  cursor: default;
}

.nav a { /*Para mexer só nos links dentro de nav */
  font-size: 1.2rem;
  color: var(--text-color);
  padding: 0.5rem 1rem;
  transition: 0.4s;
/* 
  border: solid 1px var(--color04); */
}

.nav a:hover {
  color: var(--main-color);
}

section {
  min-height: 100vh; /*cada seção precisa ter no mínimo a altura inteira da tela do dispositivo (100% da altura visível).*/
  padding: 6rem 6rem 2rem; /* Espaço interno grande no topo e nas laterais, menor na parte inferior */
  /* border: solid 1px var(--color01); */
}

span {
  color: var(--main-color);
}

section.home h1 { /*section.home: Ele vai pegar a <section> que tem a classe home. -- h1: Depois, ele vai selecionar especificamente o elemento <h1> dentro dessa <section>. */
  color: var(--text-color);
}

.home, .about{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1.5rem;
}

.home-img {
  border-right: solid 0.6rem var(--color04);
  border-bottom: solid 0.6rem var(--color04);
  border-image: linear-gradient(135deg, transparent 50%, var(--main-color)) 1;
}

.about-img {
  border-left: solid 0.6rem var(--color04);
  border-bottom: solid 0.6rem var(--color04);
  border-image: linear-gradient(225deg, transparent 50%, var(--main-color)) 1;
}

.home-img img, .about-img img {
  width: 100%;
  max-width: 600px;
  min-width: 200px;
}

.about {
  background-color: var(--bg-color-02);
}

.home-content, .about-content {
  width: 70%;
}

.home-content h1, .about-content h1{
  font-weight: 700;
  line-height: 1.3;
  font-size: 2.7rem;
}

.home-content h3, .about-content h3{
  font-weight: 700;
  font-size: 1.6rem;
}

.home-content p, .about-content p {
  margin-top: 1.2rem;
  text-align: justify;
}

.services h2,
.portfolio h2,
.contact h2 {
  font-size: 2.2rem;
  margin-bottom: 1rem;
  text-align: center;
  /* border: solid 0.15rem var(--color03); */
}

.services-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* border: solid 0.15rem var(--main-color); */
}

.services-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 25rem;
  margin: 0.3rem;
}

.services-container .services-box {
  padding: 2rem 2rem 2.5rem;;
  border-radius: 1.2rem;
  text-align: center;
  border: solid 0.15rem var(--bg-color-01);
  background-color: var(--bg-color-02);
  transition: ease;
}

.services-container .services-box:hover {
  border-color: var(--main-color);
  transform: scale(1.01);
}

/* tudo que estiver dentro de services-box e for i, vai ter essas caracteristicas */
.services-box i {
  font-size: 4.3rem;
  color: var(--main-color);
}

.services-box h3 {
  font-size: 1.5rem;
}

.services-box p {
  margin: 0.5rem;
  /* N linhas ... */
  display: -webkit-box;/* Esse valor ativa um layout flexível para o texto, permitindo que ele seja manipulado como uma caixa. */
  -webkit-line-clamp: 5;/*Define quantas linhas do texto podem aparecer antes de ele ser cortado.*/
  -webkit-box-orient: vertical; /*Força o texto a ser exibido verticalmente. */
  overflow: hidden;/*Esconde qualquer parte do texto que ultrapasse as 5 linhas.*/
  text-overflow: ellipsis;
}
/* para mostrar o conteúdo alem das 5 linhas */
.expanded {
  display: block; /* Quando expandido, o texto aparecerá completo */
}

.portfolio {
  background-color: var(--bg-color-02);
}

.portfolio-container {
  display: grid;
  gap: 1.2rem;
}

.portfolio-box {
  position: relative;
  border-radius: 0.6rem;
  box-shadow: 0 0 0.6rem var(--bg-color-01);
  overflow: hidden;
  display: flex;
}

.portfolio-box img {
  width: 100%;
  transition: 0.9s ease;
}

.portfolio-box img:hover{
  transform: scale(1.1);
}

.portfolio-box .portfolio-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(transparent, var(--main-color));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0.4rem;
  transform: translateY(30rem);
  transition: 0.9s ease;
}

.portfolio-box:hover .portfolio-layer {
  transform: translateY(0);
}

.portfolio-layer h4 {
  font-size: 1.8rem;
}

.portfolio-layer p {
  margin: 0.2rem 0 0.5rem;
}

.portfolio-layer a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  background: var(--text-color);
  border-radius: 50%;
  color: var(--main-color);
}

.portfolio-layer a i {
  font-size: 1.2rem;
  color: var(--bg-color-02);
}

form {
  max-width: 45rem;
  margin: 0.6rem auto;
  text-align: center;
  margin-bottom: 2rem;
  /* border: solid 1px var(--color03); /* TEST */
} */

form .input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

form .input-box input,
form textarea {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  color: var(--text-color);
  background-color: var(--bg-color-02);
  border-radius: 0.5rem;
  margin: 0.4rem 0;
  /* border: solid 1px var(--color05); TEST */
}

form textarea {
  resize: none;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1.2rem;
  background-color: var(--bg-color-01);
}

.social-media img {
  width: 3.5rem;
}

.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  background: transparent;
  border: solid 0.15rem var(--main-color);
  border-radius: 50%;
  font-size: 2rem;
  color: var(--main-color);
  margin: 1.8rem 0.5rem;
  transition: 0.5s ease;
}

.social-media a:hover{
  background-color: var(--main-color);
  color: var(--bg-color-02);
  box-shadow: 0 0 0.3rem var(--main-color);
}

/* ===== Botão ===== */
.btn {
  display: inline-block;
  padding: 0.7rem 1.8rem;
  background-color: var(--main-color);
  border-radius: 2rem;
  font-weight: 600;
  transition: 0.3s ease;
  margin-top: 1.2rem;
  color: var(--text-color);
}

.btn:hover {
  box-shadow: 0 0 0.3rem var(--main-color);
  background-color: inherit;
  color: var(--main-color);
  cursor: pointer;
}
/* ===== /Botão ===== */

/* ===== Menu Hamburguer ===== */
.menu-hamburguer {
  display: none;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 2rem;
  height: 0.3rem;
  background-color: var(--text-color);
  margin: 0.4rem 0;
  transition: 0.3s ease;
}

.change .bar1 {
  transform: translate(0, 0.65rem) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -0.65rem) rotate(45deg);
}
/* ===== /Menu Hamburguer ===== */

/* ===== media queries ===== */

/* Extra Small (xs): Smartphone (portrait) */
@media (min-width: 0px) {
  .menu-hamburguer {
    display: block;
  }

  .nav {
    display: none;
  }

  .nav-responsive {
    display: block;
    font-size: 1.2rem;
    margin: 0.5rem 0;
  }

  section {
    padding: 6rem 2.5rem;
  }

.home, .about {
  flex-direction: column;
  gap: 1.2rem;
}

.home-img, .about-img {
  width: 80%;
  max-width: 80%;
}

.home-content, .about-content {
  width: 100%;
}

.home-content div {
  text-align: center;
}

.home-content h1, .about-content h1 {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.3;
}

.services-container {
  flex-direction: column;
  align-items: center;
}

.services-box {
  width: 100%;
}

  header {
    background-color: var(--color01); /* TEST */
  }
}

/* Small (sm): Smartphone (landscape) */
@media (min-width: 576px) {
  
  .home-img, .about-img {
    width: 65%;
    max-width: 65%;
  }

  .services-box {
    width: 80%;
  }

  header {
    background-color: var(--color03); /* TEST */
  }
}

/* Medium (md): Tablet */
@media (min-width: 768px) {
  .menu-hamburguer {
    display: none;
  }

  .nav {
    display: block;
  }

  .nav-responsive, .nav-responsive a {
    display: none;
  }

  .home, .about {
    flex-direction: row;
    justify-content: space-evenly;
  }
  
  .home-img, .about-img {
    max-width: 45%;
  }

  .home-content, .about-content{
    width: 50%;
  }

  .services-box {
    width: 70%;
    margin-bottom: 2rem;
  }

  .portfolio-container {
    grid-template-columns: auto auto;
  }

  .portfolio-container p {
    font-size: 1rem;
  }

  .portfolio-box h4 {
    font-size: 1.5rem;
  }

  form .input-box input {
    width: 49%;
  }

  header {
    background-color: var(--color02); /* TEST */
  }
}

/* Large (lg): Notebook */
@media (min-width: 992px) {
  
  .services-container {
    flex-direction: row;
    gap: 1.2rem;
  }

  .portfolio-container p {
    font-size: 1.2rem;
  }

  .portfolio-box h4 {
    font-size: 1.8rem;
    font-weight: 600;
  }

  header {
    background-color: blue; /* TEST */
  }
}

/* Extra Large (xl): Desktop */
@media (min-width: 1200px) {
  
  .home-img .about-img {
    max-width: 25%;
  }

  .home-content h1 {
    font-size: 2.7rem;
  }

  .home-content h3 {
    font-size: 2rem;
  }

  .portfolio-container {
    grid-template-columns: auto auto auto;
  }

  .portfolio-container p {
    font-size: 1.2rem;
  }

  .portfolio-box h4 {
    font-size: 1.8rem;
    /* font-weight: 600; */
  }

  header {
    background-color: red; /* TEST */
  }
}
/* ===== /media queries ===== */
