* {
  margin: 0;
  padding: 0;
  color: #1a1c1d;
}

html,
body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}
/* 
hr {
    width: 200px;
  background-color: #191c03;
  height: 2px;
  border: none;
  margin: auto;
} */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  background-color: #d0f4de;
  font-family: 'Raleway', sans-serif;
}

h2 {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
}

header nav {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  /* margin-right: 20px; */
}

header nav a {
  text-decoration: none;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 5px;
  border-radius: 10%;
  padding: 3px;
  font-family: 'Roboto', sans-serif;
}

header h1 {
  padding: 10px;
  margin-left: 30px;
}

#sobre-mim {
  text-align: center;
  background-color: #ff99c8;
}

h2 {
  padding-top: 20px;
  text-align: center;
}

#foto-texto {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  align-content: space-between;
  width: 100%;
}

#foto-yone {
  width: 300px;
  padding: 10px;
  margin: 20px;
  margin-top: 30px;
  margin-left: 50px;
  border-radius: 20px;
}

#txt-sobre-mim {
  background-color: #ffffff30;
  margin: 20px;
  text-align: center;
  padding: 1%;
  border-radius: 20px;
}

#projetos {
  background-color: #fcf6bd;
}

#projetos-templates {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
}

#projetos img {
  margin-top: 20px;
  max-width: 200px;
  border-radius: 10px;
}

#projetos p {
  text-align: center;
  padding: 10px;
  margin-top: 0%;
}

#habilidades {
  text-align: center;
  background-color: #e4c1f9;
  padding-bottom: 10px;
}

#habilidades-templates {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  font-size: 20px;
  justify-content: space-evenly;
  font-family: 'Roboto', sans-serif;
}

#habilidades-templates i {
  margin: 0px 20px;
  
}

#favoritos {
  text-align: center;
  background-color: #a9def9;
  padding-bottom: 10px;
}

#favoritos-template a {
  padding: 6px;
  border-radius: 15%;
  font-style: none;
  text-decoration: none;
  cursor: grab;
}

#favoritos-template {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  font-size: 20px;
  justify-content: space-evenly;
}

#redes-sociais {
  text-align: center;
  background-color: #d0f4de;
}

#redes-sociais h2 {
  margin-bottom: 10px;
}

#social-template {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
}

#social-template a {
  margin: 10px;
  font-size: 40px;
  text-decoration: none;
  cursor: grab;
}

footer {
  text-align: center;
  background-color: rgb(255, 208, 192);
  width: 100%;
  font-size: 20px;
  align-items: center;
}

@media screen and (max-width: 700px) {
  header nav {
    margin-right: 40px;
    margin-bottom: 10px;
  }

  #txt-sobre-mim {
    max-height: 300px;
  }

  #foto-yone {
    margin: auto;
    max-width: 60%;
    margin-top: 100px;
  }

  #foto-texto {
    flex-direction: column;
    max-width: 1000px;
  }
}
